
body {
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(54, 70, 252);
    color: white;
    user-select: none; 
}

h1 {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
}

.intro {
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: small;
}

.container {
    width: 24vw;
    position: relative;
    left: 38vw;
    height: 100%;
}

.grid {
    height: 23vw;
    width: 95%;
    margin: 5%;
    background-color: rgb(23, 0, 97);
}

.gridRow {
    height: calc(100% / 6); 
}


.draggable div {
    margin: 3px;
}

.gridElement {
    display: inline-block;
    width: calc(100% / 6);
    height: 100%;
}

.gridElementInner {
    background-color: rgb(4, 4, 180);
    margin: 15%;
    width: 70%;
    height: 70%;
}

.chickenHolder {
    background-color: transparent;
}

.chicken {
    height: 20px;
    width: 20px;
    max-height: 80%;
    max-width: 80%;
    top: 10%;
    left: 10%;
    position: relative;
}

.left {
    display: inline-block;
}

.right {
    display: inline-block;
    text-align: right;
    right: 0;
    position: relative;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.counterContainer {
    width: 100%;
}

.remainingChickens {
    font-size: large;
    padding: 1px;
    left: 5px;
    position: relative;
}

.absolute {
    position: absolute;
}